<a href="https://colab.research.google.com/github/nisaodabas/CNG483-Project2/blob/master/CNG483_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
import numpy as np
import pandas as pd
from google.colab import output
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
if __name__ == "__main__":
    geometic_test_path = "/content/drive/My Drive/CNG483-Project 2/IrisGeometicFeatures_TestingSet.txt"
    geometic_train_path = "/content/drive/My Drive/CNG483-Project 2/IrisGeometicFeatures_TrainingSet.txt"

    texture_test_path = "/content/drive/My Drive/CNG483-Project 2/IrisTextureFeatures_TestingSet.txt"
    texture_train_path = "/content/drive/My Drive/CNG483-Project 2/IrisTextureFeatures_TrainingSet.txt"

    data = pd.read_csv(geometic_train_path, sep=" ", header=None)
    data.columns = ["a", "b"]  

    #data = np.array(data)

In [15]:
data

                              a                                 b
0                     @RELATION  IrisGeometicFeatures_TrainingSet
1                    @ATTRIBUTE                           1\tREAL
2                    @ATTRIBUTE                           2\tREAL
3                    @ATTRIBUTE                           3\tREAL
4                    @ATTRIBUTE                           4\tREAL
...                         ...                               ...
1147  2,7,5,40114.9966,3.4242,3                               NaN
1148  2,3,1,36643.5367,3.2727,3                               NaN
1149  2,3,1,35968.0943,3.2424,3                               NaN
1150   3,2,1,36643.5367,3.375,3                               NaN
1151  3,3,0,38013.2711,3.4375,3                               NaN

[1152 rows x 2 columns]

In [0]:
#output.eval_js('new Audio("https://upload.wikimedia.org/wikipedia/commons/0/05/Beep-09.ogg").play()')